In [8]:
# Import Libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Immunization Coverage EDA

In [32]:
glbcvg = pd.read_excel("immunization_coverage_2019.xlsx", sheet_name = "regional_global")
glbcvg.head(5)

   region vaccine  year  coverage
0  Global     BCG  1980        15
1  Global    DTP1  1980        30
2  Global    DTP3  1980        20
3  Global    MCV1  1980        16
4  Global    POL3  1980        21

In [126]:
# GBR = United Kingdom
# USA = United States
# FRA = France
# UKR = Ukraine
# BGD = Bangladesh
# RWA = Rwanda
# CHN = China
# MYS = Malaysia

dtp3cvg = pd.read_excel("immunization_coverage_2019.xlsx", sheet_name="DTP3")
dtp3 = None
countries = ['GBR', 'USA', 'FRA', 'UKR', 'BGD', 'RWA', 'CHN', 'MYS']
for country in countries:
    if dtp3 is None:
        dtp3 = dtp3cvg[dtp3cvg['iso3'] == country]
    else:
        dtp3 = dtp3.append(dtp3cvg[dtp3cvg['iso3'] == country])
dtp3 = dtp3.iloc[:, :-12].sort_values(by=['country']).reset_index(drop=True)
dtp3 = dtp3.drop(columns=['unicef_region'])
year = dtp3.columns[3:]
dtp3 = pd.melt(dtp3, id_vars=['iso3','country', 'vaccine'], value_vars=year, var_name='year', value_name='coverage(%)')
dtp3.to_csv('dtp3.csv')

In [127]:
pol3cvg = pd.read_excel("immunization_coverage_2019.xlsx", sheet_name ="POL3")
pol3 = None
countries = ['GBR', 'USA', 'FRA', 'UKR', 'BGD', 'RWA', 'CHN', 'MYS']
for country in countries:
    if pol3 is None:
        pol3 = pol3cvg[pol3cvg['iso3'] == country]
    else:
        pol3 = pol3.append(pol3cvg[pol3cvg['iso3'] == country])
pol3 = pol3.iloc[:, :-12].sort_values(by=['country']).reset_index(drop=True)
pol3 = pol3.drop(columns=['unicef_region'])
year = pol3.columns[3:]
pol3 = pd.melt(pol3, id_vars=['iso3','country', 'vaccine'], value_vars=year, var_name='year', value_name='coverage(%)')
pol3.to_csv('pol3.csv')

In [149]:
dtp3cvg = pd.read_excel("immunization_coverage_2019.xlsx", sheet_name="DTP3")
gdtp3 = dtp3cvg.iloc[:, :-20].dropna().drop(columns=['unicef_region'])
year = gdtp3.columns[3:]
gdtp3 = pd.melt(gdtp3, id_vars=['iso3','country', 'vaccine'], value_vars=year, var_name='year', value_name='coverage(%)')
gdtp3.to_csv('gdtp3.csv')

In [150]:
pol3cvg = pd.read_excel("immunization_coverage_2019.xlsx", sheet_name="POL3")
gpol3 = pol3cvg.iloc[:, :-20].dropna().drop(columns=['unicef_region'])
year = gpol3.columns[3:]
gpol3 = pd.melt(gpol3, id_vars=['iso3','country', 'vaccine'], value_vars=year, var_name='year', value_name='coverage(%)')
gpol3.to_csv('gpol3.csv')

In [177]:
from pandas import ExcelWriter as EW

files = [dtp3, pol3, gdtp3, gpol3]

with EW('global_vc.xlsx') as writer:
    for f in files:
        f.to_excel(writer, sheet_name=str(f))

InvalidWorksheetName: Excel worksheet name '    iso3         country vaccine  year  coverage(%)
0    BGD      Bangladesh    DTP3  2019         98.0
1    CHN           China    DTP3  2019         99.0
2    FRA          France    DTP3  2019         96.0
3    MYS        Malaysia    DTP3  2019         98.0
4    RWA          Rwanda    DTP3  2019         98.0
..   ...             ...     ...   ...          ...
219  MYS        Malaysia    DTP3  1992         94.0
220  RWA          Rwanda    DTP3  1992         85.0
221  UKR         Ukraine    DTP3  1992         88.0
222  GBR  United Kingdom    DTP3  1992         92.0
223  USA   United States    DTP3  1992         83.0

[224 rows x 5 columns]' must be <= 31 chars.

In [193]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('global_vc.xlsx', engine='xlsxwriter')

# Write each dataframe to a different worksheet.
dtp3.to_excel(writer, sheet_name='dtp3', index=False)
pol3.to_excel(writer, sheet_name='pol3', index=False)
gdtp3.to_excel(writer, sheet_name='gdtp3', index=False)
gpol3.to_excel(writer, sheet_name='gpol3', index=False)
writer.save()

In [195]:
gdtp3[gdtp3['iso3'] == 'GBR']

     iso3         country vaccine  year  coverage(%)
181   GBR  United Kingdom    DTP3  2019         93.0
373   GBR  United Kingdom    DTP3  2018         94.0
565   GBR  United Kingdom    DTP3  2017         94.0
757   GBR  United Kingdom    DTP3  2016         94.0
949   GBR  United Kingdom    DTP3  2015         95.0
1141  GBR  United Kingdom    DTP3  2014         95.0
1333  GBR  United Kingdom    DTP3  2013         95.0
1525  GBR  United Kingdom    DTP3  2012         95.0
1717  GBR  United Kingdom    DTP3  2011         95.0
1909  GBR  United Kingdom    DTP3  2010         94.0
2101  GBR  United Kingdom    DTP3  2009         93.0
2293  GBR  United Kingdom    DTP3  2008         92.0
2485  GBR  United Kingdom    DTP3  2007         92.0
2677  GBR  United Kingdom    DTP3  2006         92.0
2869  GBR  United Kingdom    DTP3  2005         91.0
3061  GBR  United Kingdom    DTP3  2004         92.0
3253  GBR  United Kingdom    DTP3  2003         91.0
3445  GBR  United Kingdom    DTP3  2002         91.0
3637  GBR  United Kingdom    DTP3  2001         91.0
3829  GBR  United Kingdom    DTP3  2000         91.0